.user-info{
    margin-left: 20%;
    display: flex;
    column-gap: 10em;
    margin-top: 6%;
    margin-bottom: 2em;
    text-decoration: solid;
}
.logout {
    text-align: right;
    margin-right: 6%;
  }
  .products{
    margin: 7em;
    display: block;
    row-gap: 3em;

}
