<mat-card class="product-card">
  <mat-card-header>
    <mat-card-title>{{product.name}}</mat-card-title>
  </mat-card-header>
  <mat-card-content> 
    <div class="product-info"> 
    <img mat-card-image [src]="product.image">
    <div class="description-price">
      <p>Description:</p>
      <p>{{product.description}}</p>
      <p class="price">Price: {{product.price}}</p>
      <ng-container *ngIf="page === 'cart'">
        <p>Quantity: {{getQuantity(product)}}</p>
      </ng-container>
    </div>
  </div> 
  </mat-card-content>
  <mat-card-actions>
    <div class="btns">
   <ng-container *ngIf="page === 'products'">
    <ng-container *ngIf="isUserLoggedIn()">
      <button mat-button (click)="addToCart(product)"> Add to cart</button>
    </ng-container>
    <ng-container *ngIf="!isUserLoggedIn()">
      <p>Please log in to add items to cart.</p>
      <button mat-button (click)="redirectToLogin()">Login</button>
    </ng-container>
   </ng-container>
   <ng-container *ngIf="page === 'cart'">
    <button mat-button (click)="addToCart(product)"> Add to cart</button>
    <button mat-button color="warn" (click)="removeFromCart(product)"> Delete</button>
   </ng-container>
  </div>
  </mat-card-actions>
</mat-card>

  
