<div class="home-container">
    <div class="image-section">
        <img src="../../assets/bakery_home_image.jpg" alt="header logo">

    </div>
    <div class="text-section">
        <p>Trove is a gourmet dessert company that is the manifestation of Karli and Julia's lifetime passion of all things dessert.</p>

        <p>Years of supplying increasingly refined cakes, pies, cookies, and squares to family events has transformed from a passion into a gourmet dessert company.</p>
        
        <p>Our mission with Trove Desserts is to create exceptional dessert experiences that are worth sharing. We make a holiday, a party, or simply a Monday feel special.</p>
    </div>
  </div>
  
